body {
  background-color: #fcfcee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.memes {
  max-width: 80%;
  margin: 20px auto;
}

.memes-item {
  padding: 1em 0;
  border-top: 1px solid #d7d7d7;
}

.memes-input {
  width: 0;
  height: 0;
  display: none;
}

.memes-image-container {
  text-align: center;
  margin-top: 1em;
  display: none;
}

.memes-input:checked ~ .memes-label .memes-image-container {
  display: block;
}

.memes-image {
  border: 2px solid black;
}

.memes-head {
  font-size: 3em;
  font-weight: 900;
}

.memes-title {
  font-size: 1.5em;
  font-weight: 900;
}

.memes-input:hover ~ .memes-label .memes-image-container {
  display: block;
}